.container {
    margin-bottom: 150px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contents div {
    display: flex;
    align-items: center;
    font-size: 22px;
  }