.container {
    margin-bottom: 10px;
  }

.introduce_box {
    background-color: #F7F7F7;
    box-sizing: border-box;
    padding-left: 15px;
    width: 178px;
    height: 209px;
    border: 1px solid #F7F7F7;
    border-radius: 15px;
}

/* 이름 */
.name {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0 2px 0;
}

/* 전공 */
.major {
    font-size: 14px;
    margin: 0 0 15px 0;
}


/* 주요스택 박스 CSS */
.personal_box {
     box-sizing: border-box;
     border: 1px solid #000;
     padding: 1px 8px 1px 8px;
     border-radius: 7px;
     background-color: #fff;
}

/* div CSS */
.div {
    display: flex;
    flex-wrap: wrap;
    gap:5px
}

.div p {
    margin: 0;
    font-size: 14px;
}

p {
    margin: 0 0 3px 0;
}
h2 {
  font-size: 28px;
  margin-bottom: 30px;
}