.container {
    margin-bottom: 12.5rem;
}
.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.supportBox {
    display: flex;
    gap: 10px;
}

.inputBox, .supportBtn, .inquiryBtn {
    padding: 12px 15px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.inputBox {
    width: 200px;
}

.supportBtn {
    color: white;
    width: 75px;
    background: #1E1E1E;
}

.inquiryBtn {
    width: 100px;
    background-color: white;
}

@media screen and (max-width: 48rem) {
    .formBox {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .supportBox{
        width: 100%;
        max-width: 232px;
        justify-content: space-between;
    }
  }