.container {
  margin-bottom: 12.5rem;
}
.keyword_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.keyword {
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid #1E1E1E;
  border-radius: 15px;
}

.keyword p {
  margin: 0;
  font-size: 1.125rem ;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 48rem){
  .container  h2 {
    font-size: 1.7rem;
  }
  .keyword p {
    font-size:0.875rem;
  }
}