#main_align {
    justify-content: center;
    display: flex;

}

#main_text {
    color: #353535;
    font-size: 128px;
    font-weight: bold;
    padding : 100px 0;
}

#m {    
    color: #6DD918;
    font-size: 128px;
}

#c {    
    color: #01CACA;
    font-size: 128px;
}

/* PC */
@media screen and (min-width: 768px){
    #main_text {
        color: #353535;
        font-size: 128px;
        font-style: bold;
        padding : 100px 0;
    }
    
    #m {    
        color: #6DD918;
        font-size: 128px;
    }
    
    #c {    
        color: #01CACA;
        font-size: 128px;
    }
}
/* Mobile */
@media screen and (max-width: 768px){
    #main_text {
        color: #353535;
        font-size: 60px;
        font-style: bold;
        padding : 100px 0;
    }
    
    #m {    
        color: #6DD918;
        font-size: 60px;
    }
    
    #c {    
        color: #01CACA;
        font-size: 60px;
    }
}

