#main_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 340px;
}

#main_title p {
    color: #353535;
    margin: 0;
    font-size: 6.25rem;
    font-weight: 700;
}

#main_title p span:first-child {
    color: #6DD918;
}

#main_title p span:last-child {
    color: #01CACA;
}
/* Mobile */
@media screen and (max-width: 48rem){
    #main_title p {
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 26.563rem){
    #main_title p {
        font-size: 3.75rem;
    }
}

