@charset "UTF-8";

body {
    background-color: #FFFFFF;
    height: 100vh;
    margin: 0px;
}

#page {
    width: auto;
    height: 3100px;
    justify-content: flex-start;
}

main {
    text-align: center;
    height: 100vh;
    flex-direction: column;
    padding: 100px 0;
}